@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.hoangio-overlay, .hoangio-button {
    font-family: 'Roboto', sans-serif;
}

.hoangio-button {
    font-weight: lighter;
}

/* references hoangio elements in src/lib/hoangio.ts file */
div.hoangio-overlay {
    z-index: 1000;
    width: 250px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: white;
    margin-top: 1rem;
}

div.hoangio-overlay button {
    max-width: 3px;
    max-height: 3px;
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
}

div.hoangio-overlay button:focus {
    outline: 0;
}

button.hoangio-button {
    background-color: #6BBE92;
    width: 302px;
    border: 0;
    padding: 10px 0;
    margin: 5px 0;
    text-align: center;
    color: #fff;
}

button.hoangio-button:focus {
    outline: 0;
}